{% extends "base.html" %} {% block title%}Fuck Home{% endblock %} {% block
content %}
<br />
<h1 align="center" class="title">donut</h1>
<h4 class="subtitle">
  If you are very into The Rolling Donut, this one is for you
</h4>

{% if message %}
<h2 align="center" class="message">{{message}}</h2>
<br />
{% endif %}
<form method="POST">
  <div class="form-group">
    <label for="text">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      placeholder="enter appropriate name"
    />
    <br />
    <label for="text">From</label>
    <input
      type="text"
      class="form-control"
      id="from"
      name="from"
      placeholder="enter appropriate name"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Show me the expression</button>
  <br />
  <br />
  <a class="refresh" id="refresh" href="/donut">refresh the page</a>
</form>
{% endblock %}
